version: '2'
services:
  php-apache-dev:
    build: .
    hostname: vb
    ports:
      - '7888:80'
      - '32770:3333'
    environment: []
    volumes:
      - '/home/eduard/Project/storage:/app'
    links:
      - postgresql
      - gearmand
      - sphinx
  postgresql:
    image: mkurnikov/postgresql-9.4
    volumes:
      - '/home/eduard/Project/postgres_data:/var/lib/postgresql/data'
    environment:
      - POSTGRES_PASSWORD=123qwe
    ports:
      - '5432:5432'
  gearmand:
    image: artefactual/gearmand
  ubuntu-gearman-worker-php:
    image: lysender/ubuntu-gearman-worker-php
    links:
      - gearmand
  sphinx:
    image: romeoz/docker-sphinxsearch
    links:
      - postgresql
    volumes:
      - '/home/eduard/Project/sphinx_data:/var/lib/sphinxsearch/data'
      - '/home/eduard/Project/sphinx_conf:/etc/sphinxsearch'
    ports:
      - '9321:9321'
      - '9318:9318'
